*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f6f1eb;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:360px;
    background:#fff;
    border-radius:20px;
    padding:35px 30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.logo{
    width:42px;
    height:42px;
    background:#d36f0b;
    color:#3d2468;
    margin:auto;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}

h1{
    text-align:center;
    margin-top:18px;
    font-size:30px;
    color:#1d2433;
}

.subtitle{
    text-align:center;
    color:#8a8a8a;
    font-size:14px;
    margin-top:8px;
    margin-bottom:25px;
}

label{
    display:block;
    font-size:14px;
    color:#444;
    margin-bottom:8px;
    font-weight:bold;
}

.input-box{
    position:relative;
    margin-bottom:18px;
}

.input-box input{
    width:100%;
    padding:13px 45px;
    border:none;
    background:#edf2ff;
    border-radius:10px;
    outline:none;
    font-size:14px;
}

.input-box i{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    color:#999;
}

.input-box i:first-child{
    left:15px;
}

.eye{
    right:15px;
    cursor:pointer;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#d36f0b;
    color:#111;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#d36f0b;
}

.divider{
    display:flex;
    align-items:center;
    margin:22px 0;
}

.divider span{
    flex:1;
    height:1px;
    background:#ddd;
}

.divider p{
    margin:0 15px;
    color:#d36f0b;
    font-size:14px;
}

.signup{
    text-align:center;
    font-size:14px;
    color:#666;
}

.signup a{
    text-decoration:none;
    color:#d36f0b;
    font-weight:bold;
}

.demo{
    margin-top:20px;
    background:#f3ffe4;
    border:1px solid #d7efb5;
    border-radius:10px;
    padding:15px;
}

.demo h4{
    color:#d36f0b;
    margin-bottom:10px;
    font-size:15px;
}

.demo p{
    font-size:12px;
    color:#555;
    margin-bottom:5px;
}