*{
    margin: 20px;
    padding: 0;
}

.a1{
    height: 600px;
    width: 600px;
    border: 2px solid black;
}
.a2{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    position: relative;
}
.a3{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    position: absolute;
    bottom; 
    left: 5px;

}