.main{
    height: 400px;
    width: 80%;
    margin: 10 auto;
    text-align: center;
    border: 2px solid black;
    display: flex;
}

h1{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    text-align: center;
}