h1{
    color: aquamarine;
    text-decoration: underline; /*under line of word*/
}

button{
    color: black;
}

#s1{
    height: 100px;
    width: 200px;
    background-color: rgb(204, 119, 9);
}

.heading{
    color: cornflowerblue;
}
#s2{
    color: deeppink;
}
#s3{
    color: rgb(165, 33, 124);
    text-align: left;
}
a {
 text-decoration: none; /* no underline*/
}
h3{
    font-weight: normal;
}