h1{
    height: 50px;
    width: 120px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(181, 186, 134);
    margin-bottom: 50px;
}

#a1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
    /* text-align: center; */
    margin: 25px;
    padding: 25px;
    display: inline;
    /* border-radius: 10px;  for round the corner    */
}
#a2{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(137, 14, 155);
    /* text-align: center; */
    margin: 25px;
     padding: 25px;
    display: inline;
}
#a3{
    height: 100px;
    text-align: center;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(14, 145, 82);
    margin: 25px;
    padding: 25px;
    display: inline;
}

#a4{
    height: 60px;
    background-color: #0f1111;
    color: white;
} 
a{
    margin-right: 200px;
    text-decoration: none;
}

#logo{
    color: rgb(219, 169, 19);
    font-size: 25px;
}
button{
    background-color: rgb(219, 169, 19); 
}